#body{
    background-color: #EAF2FF;
    font-family: 'Rubik Mono One';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 150px;
    padding-bottom: 150px;
    height: 100%;
    align-items: center;
}
iframe{
    border-radius: 15px;
}
.text{
    display: flex;
    flex-direction: column;
}